In [165]:
import numpy as np
import pandas as pd
import os

In [166]:
DATA_DIR='C:/Users/gyang/Documents/DS/data'
FILE_NAME='credit_card_default_TRAIN.csv'
data_path=os.path.join(DATA_DIR,FILE_NAME)
#print(data_path)
ccd=pd.read_csv(data_path,index_col='ID')
ccd.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [168]:
ccd.rename(columns=lambda x:x.lower(),inplace=True)

In [169]:
ccd.head()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [171]:
## Target col Y :"default payment next month"
correlation_matrix = ccd.corr()
print(correlation_matrix)

                            limit_bal       sex  education  marriage  \
limit_bal                    1.000000  0.016259  -0.236180 -0.104442
sex                          0.016259  1.000000   0.010873 -0.018528
education                   -0.236180  0.010873   1.000000 -0.139526
marriage                    -0.104442 -0.018528  -0.139526  1.000000
age                          0.145016 -0.132641   0.165058 -0.415575
pay_0                       -0.263680 -0.050606   0.111467  0.013001
pay_2                       -0.295251 -0.061151   0.132694  0.018294
pay_3                       -0.284323 -0.059282   0.120636  0.026748
pay_4                       -0.260785 -0.051407   0.115357  0.025244
pay_5                       -0.242676 -0.047535   0.103241  0.030139
pay_6                       -0.230691 -0.034902   0.089441  0.029107
bill_amt1                    0.284819 -0.037028   0.018595 -0.022099
bill_amt2                    0.278601 -0.035425   0.013175 -0.023103
bill_amt3                    0.286741 -0.028192   0.006542 -0.027501
bill_amt4                    0.296529 -0.022462  -0.008395 -0.026780
bill_amt5                    0.295303 -0.019601  -0.014557 -0.026413
bill_amt6                    0.291392 -0.016935  -0.012408 -0.023024
pay_amt1                     0.208238 -0.003042  -0.040269 -0.019986
pay_amt2                     0.198730 -0.008711  -0.033094 -0.018150
pay_amt3                     0.217787 -0.007847  -0.042338 -0.014314
pay_amt4                     0.206889  0.000591  -0.041617 -0.013596
pay_amt5                     0.220117 -0.001442  -0.039948  0.003206
pay_amt6                     0.225258 -0.009680  -0.039390 -0.002408
default payment next month  -0.148079 -0.038250   0.030521 -0.028800

                                 age     pay_0     pay_2     pay_3     pay_4  \
limit_bal                   0.145016 -0.263680 -0.295251 -0.284323 -0.260785
sex                        -0.132641 -0.050606 -0.061151 -0.059282 -0.051407
education                   0.165058  0.111467  0.132694  0.120636  0.115357
marriage                   -0.415575  0.013001  0.018294  0.026748  0.025244
age                         1.000000 -0.034701 -0.048135 -0.050460 -0.045635
pay_0                      -0.034701  1.000000  0.664267  0.562983  0.525229
pay_2                      -0.048135  0.664267  1.000000  0.762511  0.659204
pay_3                      -0.050460  0.562983  0.762511  1.000000  0.776793
pay_4                      -0.045635  0.525229  0.659204  0.776793  1.000000
pay_5                      -0.048023  0.492612  0.616761  0.684168  0.822062
pay_6                      -0.040364  0.458331  0.565874  0.629369  0.716408
bill_amt1                   0.056882  0.175780  0.227934  0.197835  0.195943
bill_amt2                   0.056590  0.178284  0.228822  0.227542  0.220132
bill_amt3                   0.056135  0.167803  0.216334  0.217793  0.240498
bill_amt4                   0.053744  0.169501  0.217294  0.220119  0.244939
bill_amt5                   0.052161  0.171793  0.215984  0.217473  0.240940
bill_amt6                   0.051597  0.167463  0.212364  0.213844  0.235548
pay_amt1                    0.031701 -0.092783 -0.086095  0.001137 -0.009270
pay_amt2                    0.027489 -0.083210 -0.072100 -0.075087  0.001132
pay_amt3                    0.035613 -0.076485 -0.057204 -0.054032 -0.066621
pay_amt4                    0.023191 -0.068328 -0.052453 -0.050897 -0.045054
pay_amt5                    0.024777 -0.058065 -0.039970 -0.037703 -0.034260
pay_amt6                    0.017653 -0.063793 -0.038711 -0.041346 -0.027655
default payment next month  0.009450  0.324702  0.260688  0.233688  0.213800

                               pay_5             ...              bill_amt4  \
limit_bal                  -0.242676             ...               0.296529
sex                        -0.047535             ...              -0.022462
education                   0.103241             ...              -0.008395
marriage                    0.030139             ...              -0.026780
age                        -0.048023             ...               0.053744
pay_0                       0.492612             ...               0.169501
pay_2                       0.616761             ...               0.217294
pay_3                       0.684168             ...               0.220119
pay_4                       0.822062             ...               0.244939
pay_5                       1.000000             ...               0.269267
pay_6                       0.809818             ...               0.263654
bill_amt1                   0.199243             ...               0.855697
bill_amt2                   0.219905             ...               0.887671
bill_amt3                   0.238292             ...               0.923764
bill_amt4                   0.269267             ...               1.000000
bill_amt5                   0.266144             ...               0.946233
bill_amt6                   0.257764             ...               0.907463
pay_amt1                   -0.009313             ...               0.238195
pay_amt2                   -0.004314             ...               0.226119
pay_amt3                    0.010426             ...               0.307293
pay_amt4                   -0.062136             ...               0.135361
pay_amt5                   -0.035307             ...               0.161421
pay_amt6                   -0.026352             ...               0.164551
default payment next month  0.207287             ...              -0.009084

                            bill_amt5  bill_amt6  pay_amt1  pay_amt2  \
limit_bal                    0.295303   0.291392  0.208238  0.198730
sex                         -0.019601  -0.016935 -0.003042 -0.008711
education                   -0.014557  -0.012408 -0.040269 -0.033094
marriage                    -0.026413  -0.023024 -0.019986 -0.018150
age                          0.052161   0.051597  0.031701  0.027489
pay_0                        0.171793   0.167463 -0.092783 -0.083210
pay_2                        0.215984   0.212364 -0.086095 -0.072100
pay_3                        0.217473   0.213844  0.001137 -0.075087
pay_4                        0.240940   0.235548 -0.009270  0.001132
pay_5                        0.266144   0.257764 -0.009313 -0.004314
pay_6                        0.287790   0.282322 -0.004093 -0.009802
bill_amt1                    0.831405   0.808309  0.142184  0.103472
bill_amt2                    0.861493   0.834942  0.289714  0.090253
bill_amt3                    0.890287   0.860247  0.252079  0.342956
bill_amt4                    0.946233   0.907463  0.238195  0.226119
bill_amt5                    1.000000   0.948777  0.217697  0.196174
bill_amt6                    0.948777   1.000000  0.200880  0.181105
pay_amt1                     0.217697   0.200880  1.000000  0.159906
pay_amt2                     0.196174   0.181105  0.159906  1.000000
pay_amt3                     0.254075   0.238186  0.163813  0.174608
pay_amt4                     0.294765   0.252530  0.140857  0.135976
pay_amt5                     0.146601   0.311989  0.158074  0.207316
pay_amt6                     0.149982   0.106183  0.191463  0.163715
default payment next month  -0.005547  -0.004120 -0.077830 -0.060352

                            pay_amt3  pay_amt4  pay_amt5  pay_amt6  \
limit_bal                   0.217787  0.206889  0.220117  0.225258
sex                        -0.007847  0.000591 -0.001442 -0.009680
education                  -0.042338 -0.041617 -0.039948 -0.039390
marriage                   -0.014314 -0.013596  0.003206 -0.002408
age                         0.035613  0.023191  0.024777  0.017653
pay_0                      -0.076485 -0.068328 -0.058065 -0.063793
pay_2                      -0.057204 -0.052453 -0.039970 -0.038711
pay_3                      -0.054032 -0.050897 -0.037703 -0.041346
pay_4                      -0.066621 -0.045054 -0.034260 -0.027655
pay_5                       0.010426 -0.062136 -0.035307 -0.026352
pay_6                       0.004510  0.022034 -0.044819 -0.028335
bill_amt1                   0.164753  0.168369  0.171036  0.163994
bill_amt2                   0.159973  0.157985  0.162082  0.162615
bill_amt3                   0.146930  0.158973  0.189008  0.170869
bill_amt4                   0.307293  0.135361  0.161421  0.164551
bill_amt5                   0.254075  0.294765  0.146601  0.149982
bill_amt6                   0.238186  0.252530  0.311989  0.106183
pay_amt1                    0.163813  0.140857  0.158074  0.191463
pay_amt2                    0.174608  0.135976  0.207316  0.163715
pay_amt3                    1.000000  0.158598  0.146153  0.153741
pay_amt4                    0.158598  1.000000  0.139799  0.134515
pay_amt5                    0.146153  0.139799  1.000000  0.149834
pay_amt6                    0.153741  0.134515  0.149834  1.000000
default payment next month -0.057625 -0.058732 -0.051572 -0.055247

                            default payment next month
limit_bal                                    -0.148079
sex                                          -0.038250
education                                     0.030521
marriage                                     -0.028800
age                                           0.009450
pay_0                                         0.324702
pay_2                                         0.260688
pay_3                                         0.233688
pay_4                                         0.213800
pay_5                                         0.207287
pay_6                                         0.187033
bill_amt1                                    -0.022562
bill_amt2                                    -0.016293
bill_amt3                                    -0.014983
bill_amt4                                    -0.009084
bill_amt5                                    -0.005547
bill_amt6                                    -0.004120
pay_amt1                                     -0.077830
pay_amt2                                     -0.060352
pay_amt3                                     -0.057625
pay_amt4                                     -0.058732
pay_amt5                                     -0.051572
pay_amt6                                     -0.055247
default payment next month                    1.000000

[24 rows x 24 columns]

In [172]:
df1=correlation_matrix.stack().reset_index()

In [173]:
df1

                        level_0                     level_1         0
0                     limit_bal                   limit_bal  1.000000
1                     limit_bal                         sex  0.016259
2                     limit_bal                   education -0.236180
3                     limit_bal                    marriage -0.104442
4                     limit_bal                         age  0.145016
5                     limit_bal                       pay_0 -0.263680
6                     limit_bal                       pay_2 -0.295251
7                     limit_bal                       pay_3 -0.284323
8                     limit_bal                       pay_4 -0.260785
9                     limit_bal                       pay_5 -0.242676
10                    limit_bal                       pay_6 -0.230691
11                    limit_bal                   bill_amt1  0.284819
12                    limit_bal                   bill_amt2  0.278601
13                    limit_bal                   bill_amt3  0.286741
14                    limit_bal                   bill_amt4  0.296529
15                    limit_bal                   bill_amt5  0.295303
16                    limit_bal                   bill_amt6  0.291392
17                    limit_bal                    pay_amt1  0.208238
18                    limit_bal                    pay_amt2  0.198730
19                    limit_bal                    pay_amt3  0.217787
20                    limit_bal                    pay_amt4  0.206889
21                    limit_bal                    pay_amt5  0.220117
22                    limit_bal                    pay_amt6  0.225258
23                    limit_bal  default payment next month -0.148079
24                          sex                   limit_bal  0.016259
25                          sex                         sex  1.000000
26                          sex                   education  0.010873
27                          sex                    marriage -0.018528
28                          sex                         age -0.132641
29                          sex                       pay_0 -0.050606
..                          ...                         ...       ...
546                    pay_amt6                    pay_amt2  0.163715
547                    pay_amt6                    pay_amt3  0.153741
548                    pay_amt6                    pay_amt4  0.134515
549                    pay_amt6                    pay_amt5  0.149834
550                    pay_amt6                    pay_amt6  1.000000
551                    pay_amt6  default payment next month -0.055247
552  default payment next month                   limit_bal -0.148079
553  default payment next month                         sex -0.038250
554  default payment next month                   education  0.030521
555  default payment next month                    marriage -0.028800
556  default payment next month                         age  0.009450
557  default payment next month                       pay_0  0.324702
558  default payment next month                       pay_2  0.260688
559  default payment next month                       pay_3  0.233688
560  default payment next month                       pay_4  0.213800
561  default payment next month                       pay_5  0.207287
562  default payment next month                       pay_6  0.187033
563  default payment next month                   bill_amt1 -0.022562
564  default payment next month                   bill_amt2 -0.016293
565  default payment next month                   bill_amt3 -0.014983
566  default payment next month                   bill_amt4 -0.009084
567  default payment next month                   bill_amt5 -0.005547
568  default payment next month                   bill_amt6 -0.004120
569  default payment next month                    pay_amt1 -0.077830
570  default payment next month                    pay_amt2 -0.060352
571  default payment next month                    pay_amt3 -0.057625
572  default payment next month                    pay_amt4 -0.058732
573  default payment next month                    pay_amt5 -0.051572
574  default payment next month                    pay_amt6 -0.055247
575  default payment next month  default payment next month  1.000000

[576 rows x 3 columns]

In [174]:
# pick out corr with Y
depvar=df1[df1['level_1']=='default payment next month']
print(depvar)

                        level_0                     level_1         0
23                    limit_bal  default payment next month -0.148079
47                          sex  default payment next month -0.038250
71                    education  default payment next month  0.030521
95                     marriage  default payment next month -0.028800
119                         age  default payment next month  0.009450
143                       pay_0  default payment next month  0.324702
167                       pay_2  default payment next month  0.260688
191                       pay_3  default payment next month  0.233688
215                       pay_4  default payment next month  0.213800
239                       pay_5  default payment next month  0.207287
263                       pay_6  default payment next month  0.187033
287                   bill_amt1  default payment next month -0.022562
311                   bill_amt2  default payment next month -0.016293
335                   bill_amt3  default payment next month -0.014983
359                   bill_amt4  default payment next month -0.009084
383                   bill_amt5  default payment next month -0.005547
407                   bill_amt6  default payment next month -0.004120
431                    pay_amt1  default payment next month -0.077830
455                    pay_amt2  default payment next month -0.060352
479                    pay_amt3  default payment next month -0.057625
503                    pay_amt4  default payment next month -0.058732
527                    pay_amt5  default payment next month -0.051572
551                    pay_amt6  default payment next month -0.055247
575  default payment next month  default payment next month  1.000000

In [175]:
df1

                        level_0                     level_1         0
0                     limit_bal                   limit_bal  1.000000
1                     limit_bal                         sex  0.016259
2                     limit_bal                   education -0.236180
3                     limit_bal                    marriage -0.104442
4                     limit_bal                         age  0.145016
5                     limit_bal                       pay_0 -0.263680
6                     limit_bal                       pay_2 -0.295251
7                     limit_bal                       pay_3 -0.284323
8                     limit_bal                       pay_4 -0.260785
9                     limit_bal                       pay_5 -0.242676
10                    limit_bal                       pay_6 -0.230691
11                    limit_bal                   bill_amt1  0.284819
12                    limit_bal                   bill_amt2  0.278601
13                    limit_bal                   bill_amt3  0.286741
14                    limit_bal                   bill_amt4  0.296529
15                    limit_bal                   bill_amt5  0.295303
16                    limit_bal                   bill_amt6  0.291392
17                    limit_bal                    pay_amt1  0.208238
18                    limit_bal                    pay_amt2  0.198730
19                    limit_bal                    pay_amt3  0.217787
20                    limit_bal                    pay_amt4  0.206889
21                    limit_bal                    pay_amt5  0.220117
22                    limit_bal                    pay_amt6  0.225258
23                    limit_bal  default payment next month -0.148079
24                          sex                   limit_bal  0.016259
25                          sex                         sex  1.000000
26                          sex                   education  0.010873
27                          sex                    marriage -0.018528
28                          sex                         age -0.132641
29                          sex                       pay_0 -0.050606
..                          ...                         ...       ...
546                    pay_amt6                    pay_amt2  0.163715
547                    pay_amt6                    pay_amt3  0.153741
548                    pay_amt6                    pay_amt4  0.134515
549                    pay_amt6                    pay_amt5  0.149834
550                    pay_amt6                    pay_amt6  1.000000
551                    pay_amt6  default payment next month -0.055247
552  default payment next month                   limit_bal -0.148079
553  default payment next month                         sex -0.038250
554  default payment next month                   education  0.030521
555  default payment next month                    marriage -0.028800
556  default payment next month                         age  0.009450
557  default payment next month                       pay_0  0.324702
558  default payment next month                       pay_2  0.260688
559  default payment next month                       pay_3  0.233688
560  default payment next month                       pay_4  0.213800
561  default payment next month                       pay_5  0.207287
562  default payment next month                       pay_6  0.187033
563  default payment next month                   bill_amt1 -0.022562
564  default payment next month                   bill_amt2 -0.016293
565  default payment next month                   bill_amt3 -0.014983
566  default payment next month                   bill_amt4 -0.009084
567  default payment next month                   bill_amt5 -0.005547
568  default payment next month                   bill_amt6 -0.004120
569  default payment next month                    pay_amt1 -0.077830
570  default payment next month                    pay_amt2 -0.060352
571  default payment next month                    pay_amt3 -0.057625
572  default payment next month                    pay_amt4 -0.058732
573  default payment next month                    pay_amt5 -0.051572
574  default payment next month                    pay_amt6 -0.055247
575  default payment next month  default payment next month  1.000000

[576 rows x 3 columns]

In [176]:
df_inter=df1.merge(depvar,left_on='level_0', right_on='level_0', how='left')

In [177]:
df=df_inter.merge(depvar,left_on='level_1_x', right_on='level_0', how='left').drop(columns=['level_1', 'level_0_y'])

In [178]:
df

,level_0_x,level_1_x,0_x,level_1_y,0_y,0
0,limit_bal,limit_bal,1.000000,default payment next month,-0.148079,-0.148079
1,limit_bal,sex,0.016259,default payment next month,-0.148079,-0.038250
2,limit_bal,education,-0.236180,default payment next month,-0.148079,0.030521
3,limit_bal,marriage,-0.104442,default payment next month,-0.148079,-0.028800
4,limit_bal,age,0.145016,default payment next month,-0.148079,0.009450
5,limit_bal,pay_0,-0.263680,default payment next month,-0.148079,0.324702
6,limit_bal,pay_2,-0.295251,default payment next month,-0.148079,0.260688
7,limit_bal,pay_3,-0.284323,default payment next month,-0.148079,0.233688
8,limit_bal,pay_4,-0.260785,default payment next month,-0.148079,0.213800
9,limit_bal,pay_5,-0.242676,default payment next month,-0.148079,0.207287
10,limit_bal,pay_6,-0.230691,default payment next month,-0.148079,0.187033
11,limit_bal,bill_amt1,0.284819,default payment next month,-0.148079,-0.022562
12,limit_bal,bill_amt2,0.278601,default payment next month,-0.148079,-0.016293
13,limit_bal,bill_amt3,0.286741,default payment next month,-0.148079,-0.014983
14,limit_bal,bill_amt4,0.296529,default payment next month,-0.148079,-0.009084
15,limit_bal,bill_amt5,0.295303,default payment next month,-0.148079,-0.005547
16,limit_bal,bill_amt6,0.291392,default payment next month,-0.148079,-0.004120
17,limit_bal,pay_amt1,0.208238,default payment next month,-0.148079,-0.077830
18,limit_bal,pay_amt2,0.198730,default payment next month,-0.148079,-0.060352
19,limit_bal,pay_amt3,0.217787,default payment next month,-0.148079,-0.057625
20,limit_bal,pay_amt4,0.206889,default payment next month,-0.148079,-0.058732
21,limit_bal,pay_amt5,0.220117,default payment next month,-0.148079,-0.051572
22,limit_bal,pay_amt6,0.225258,default payment next month,-0.148079,-0.055247
23,limit_bal,default payment next month,-0.148079,default payment next month,-0.148079,1.000000
24,sex,limit_bal,0.016259,default payment next month,-0.038250,-0.148079
25,sex,sex,1.000000,default payment next month,-0.038250,-0.038250
26,sex,education,0.010873,default payment next month,-0.038250,0.030521
27,sex,marriage,-0.018528,default payment next month,-0.038250,-0.028800
28,sex,age,-0.132641,default payment next month,-0.038250,0.009450
29,sex,pay_0,-0.050606,default payment next month,-0.038250,0.324702
...,...,...,...,...,...,...
546,pay_amt6,pay_amt2,0.163715,default payment next month,-0.055247,-0.060352
547,pay_amt6,pay_amt3,0.153741,default payment next month,-0.055247,-0.057625
548,pay_amt6,pay_amt4,0.134515,default payment next month,-0.055247,-0.058732
549,pay_amt6,pay_amt5,0.149834,default payment next month,-0.055247,-0.051572
550,pay_amt6,pay_amt6,1.000000,default payment next month,-0.055247,-0.055247
551,pay_amt6,default payment next month,-0.055247,default payment next month,-0.055247,1.000000
552,default payment next month,limit_bal,-0.148079,default payment next month,1.000000,-0.148079
553,default payment next month,sex,-0.038250,default payment next month,1.000000,-0.038250
554,default payment next month,education,0.030521,default payment next month,1.000000,0.030521
555,default payment next month,marriage,-0.028800,default payment next month,1.000000,-0.028800
556,default payment next month,age,0.009450,default payment next month,1.000000,0.009450
557,default payment next month,pay_0,0.324702,default payment next month,1.000000,0.324702
558,default payment next month,pay_2,0.260688,default payment next month,1.000000,0.260688
559,default payment next month,pay_3,0.233688,default payment next month,1.000000,0.233688
560,default payment next month,pay_4,0.213800,default payment next month,1.000000,0.213800
561,default payment next month,pay_5,0.207287,default payment next month,1.000000,0.207287
562,default payment next month,pay_6,0.187033,default payment next month,1.000000,0.187033
563,default payment next month,bill_amt1,-0.022562,default payment next month,1.000000,-0.022562
564,default payment next month,bill_amt2,-0.016293,default payment next month,1.000000,-0.016293
565,default payment next month,bill_amt3,-0.014983,default payment next month,1.000000,-0.014983
566,default payment next month,bill_amt4,-0.009084,default payment next month,1.000000,-0.009084
567,default payment next month,bill_amt5,-0.005547,default payment next month,1.000000,-0.005547
568,default payment next month,bill_amt6,-0.004120,default payment next month,1.000000,-0.004120
569,default payment next month,pay_amt1,-0.077830,default payment next month,1.000000,-0.077830
570,default payment next month,pay_amt2,-0.060352,default payment next month,1.000000,-0.060352
571,default payment next month,pay_amt3,-0.057625,default payment next month,1.000000,-0.057625
572,default payment next month,pay_amt4,-0.058732,default payment next month,1.000000,-0.058732
573,default payment next month,pay_amt5,-0.051572,default payment next month,1.000000,-0.051572
574,default payment next month,pay_amt6,-0.055247,default payment next month,1.000000,-0.055247
575,default payment next month,default payment next month,1.000000,default payment next month,1.000000,1.000000

In [179]:
df.columns=["var1","var2","corr_var1_var2","depvar","corr_var1_Y","corr_var2_Y"]
df

,var1,var2,corr_var1_var2,depvar,corr_var1_Y,corr_var2_Y
0,limit_bal,limit_bal,1.000000,default payment next month,-0.148079,-0.148079
1,limit_bal,sex,0.016259,default payment next month,-0.148079,-0.038250
2,limit_bal,education,-0.236180,default payment next month,-0.148079,0.030521
3,limit_bal,marriage,-0.104442,default payment next month,-0.148079,-0.028800
4,limit_bal,age,0.145016,default payment next month,-0.148079,0.009450
5,limit_bal,pay_0,-0.263680,default payment next month,-0.148079,0.324702
6,limit_bal,pay_2,-0.295251,default payment next month,-0.148079,0.260688
7,limit_bal,pay_3,-0.284323,default payment next month,-0.148079,0.233688
8,limit_bal,pay_4,-0.260785,default payment next month,-0.148079,0.213800
9,limit_bal,pay_5,-0.242676,default payment next month,-0.148079,0.207287
10,limit_bal,pay_6,-0.230691,default payment next month,-0.148079,0.187033
11,limit_bal,bill_amt1,0.284819,default payment next month,-0.148079,-0.022562
12,limit_bal,bill_amt2,0.278601,default payment next month,-0.148079,-0.016293
13,limit_bal,bill_amt3,0.286741,default payment next month,-0.148079,-0.014983
14,limit_bal,bill_amt4,0.296529,default payment next month,-0.148079,-0.009084
15,limit_bal,bill_amt5,0.295303,default payment next month,-0.148079,-0.005547
16,limit_bal,bill_amt6,0.291392,default payment next month,-0.148079,-0.004120
17,limit_bal,pay_amt1,0.208238,default payment next month,-0.148079,-0.077830
18,limit_bal,pay_amt2,0.198730,default payment next month,-0.148079,-0.060352
19,limit_bal,pay_amt3,0.217787,default payment next month,-0.148079,-0.057625
20,limit_bal,pay_amt4,0.206889,default payment next month,-0.148079,-0.058732
21,limit_bal,pay_amt5,0.220117,default payment next month,-0.148079,-0.051572
22,limit_bal,pay_amt6,0.225258,default payment next month,-0.148079,-0.055247
23,limit_bal,default payment next month,-0.148079,default payment next month,-0.148079,1.000000
24,sex,limit_bal,0.016259,default payment next month,-0.038250,-0.148079
25,sex,sex,1.000000,default payment next month,-0.038250,-0.038250
26,sex,education,0.010873,default payment next month,-0.038250,0.030521
27,sex,marriage,-0.018528,default payment next month,-0.038250,-0.028800
28,sex,age,-0.132641,default payment next month,-0.038250,0.009450
29,sex,pay_0,-0.050606,default payment next month,-0.038250,0.324702
...,...,...,...,...,...,...
546,pay_amt6,pay_amt2,0.163715,default payment next month,-0.055247,-0.060352
547,pay_amt6,pay_amt3,0.153741,default payment next month,-0.055247,-0.057625
548,pay_amt6,pay_amt4,0.134515,default payment next month,-0.055247,-0.058732
549,pay_amt6,pay_amt5,0.149834,default payment next month,-0.055247,-0.051572
550,pay_amt6,pay_amt6,1.000000,default payment next month,-0.055247,-0.055247
551,pay_amt6,default payment next month,-0.055247,default payment next month,-0.055247,1.000000
552,default payment next month,limit_bal,-0.148079,default payment next month,1.000000,-0.148079
553,default payment next month,sex,-0.038250,default payment next month,1.000000,-0.038250
554,default payment next month,education,0.030521,default payment next month,1.000000,0.030521
555,default payment next month,marriage,-0.028800,default payment next month,1.000000,-0.028800
556,default payment next month,age,0.009450,default payment next month,1.000000,0.009450
557,default payment next month,pay_0,0.324702,default payment next month,1.000000,0.324702
558,default payment next month,pay_2,0.260688,default payment next month,1.000000,0.260688
559,default payment next month,pay_3,0.233688,default payment next month,1.000000,0.233688
560,default payment next month,pay_4,0.213800,default payment next month,1.000000,0.213800
561,default payment next month,pay_5,0.207287,default payment next month,1.000000,0.207287
562,default payment next month,pay_6,0.187033,default payment next month,1.000000,0.187033
563,default payment next month,bill_amt1,-0.022562,default payment next month,1.000000,-0.022562
564,default payment next month,bill_amt2,-0.016293,default payment next month,1.000000,-0.016293
565,default payment next month,bill_amt3,-0.014983,default payment next month,1.000000,-0.014983
566,default payment next month,bill_amt4,-0.009084,default payment next month,1.000000,-0.009084
567,default payment next month,bill_amt5,-0.005547,default payment next month,1.000000,-0.005547
568,default payment next month,bill_amt6,-0.004120,default payment next month,1.000000,-0.004120
569,default payment next month,pay_amt1,-0.077830,default payment next month,1.000000,-0.077830
570,default payment next month,pay_amt2,-0.060352,default payment next month,1.000000,-0.060352
571,default payment next month,pay_amt3,-0.057625,default payment next month,1.000000,-0.057625
572,default payment next month,pay_amt4,-0.058732,default payment next month,1.000000,-0.058732
573,default payment next month,pay_amt5,-0.051572,default payment next month,1.000000,-0.051572
574,default payment next month,pay_amt6,-0.055247,default payment next month,1.000000,-0.055247
575,default payment next month,default payment next month,1.000000,default payment next month,1.000000,1.000000

In [190]:
df.loc[abs(df["corr_var1_Y"])>abs(df["corr_var2_Y"]), 'badvar'] = df['var2']
df.loc[abs(df["corr_var1_Y"])<abs(df["corr_var2_Y"]), 'badvar'] = df['var1']

In [191]:
df

,var1,var2,corr_var1_var2,depvar,corr_var1_Y,corr_var2_Y,badvar
0,limit_bal,limit_bal,1.000000,default payment next month,-0.148079,-0.148079,NaN
1,limit_bal,sex,0.016259,default payment next month,-0.148079,-0.038250,sex
2,limit_bal,education,-0.236180,default payment next month,-0.148079,0.030521,education
3,limit_bal,marriage,-0.104442,default payment next month,-0.148079,-0.028800,marriage
4,limit_bal,age,0.145016,default payment next month,-0.148079,0.009450,age
5,limit_bal,pay_0,-0.263680,default payment next month,-0.148079,0.324702,limit_bal
6,limit_bal,pay_2,-0.295251,default payment next month,-0.148079,0.260688,limit_bal
7,limit_bal,pay_3,-0.284323,default payment next month,-0.148079,0.233688,limit_bal
8,limit_bal,pay_4,-0.260785,default payment next month,-0.148079,0.213800,limit_bal
9,limit_bal,pay_5,-0.242676,default payment next month,-0.148079,0.207287,limit_bal
10,limit_bal,pay_6,-0.230691,default payment next month,-0.148079,0.187033,limit_bal
11,limit_bal,bill_amt1,0.284819,default payment next month,-0.148079,-0.022562,bill_amt1
12,limit_bal,bill_amt2,0.278601,default payment next month,-0.148079,-0.016293,bill_amt2
13,limit_bal,bill_amt3,0.286741,default payment next month,-0.148079,-0.014983,bill_amt3
14,limit_bal,bill_amt4,0.296529,default payment next month,-0.148079,-0.009084,bill_amt4
15,limit_bal,bill_amt5,0.295303,default payment next month,-0.148079,-0.005547,bill_amt5
16,limit_bal,bill_amt6,0.291392,default payment next month,-0.148079,-0.004120,bill_amt6
17,limit_bal,pay_amt1,0.208238,default payment next month,-0.148079,-0.077830,pay_amt1
18,limit_bal,pay_amt2,0.198730,default payment next month,-0.148079,-0.060352,pay_amt2
19,limit_bal,pay_amt3,0.217787,default payment next month,-0.148079,-0.057625,pay_amt3
20,limit_bal,pay_amt4,0.206889,default payment next month,-0.148079,-0.058732,pay_amt4
21,limit_bal,pay_amt5,0.220117,default payment next month,-0.148079,-0.051572,pay_amt5
22,limit_bal,pay_amt6,0.225258,default payment next month,-0.148079,-0.055247,pay_amt6
23,limit_bal,default payment next month,-0.148079,default payment next month,-0.148079,1.000000,limit_bal
24,sex,limit_bal,0.016259,default payment next month,-0.038250,-0.148079,sex
25,sex,sex,1.000000,default payment next month,-0.038250,-0.038250,NaN
26,sex,education,0.010873,default payment next month,-0.038250,0.030521,education
27,sex,marriage,-0.018528,default payment next month,-0.038250,-0.028800,marriage
28,sex,age,-0.132641,default payment next month,-0.038250,0.009450,age
29,sex,pay_0,-0.050606,default payment next month,-0.038250,0.324702,sex
...,...,...,...,...,...,...,...
546,pay_amt6,pay_amt2,0.163715,default payment next month,-0.055247,-0.060352,pay_amt6
547,pay_amt6,pay_amt3,0.153741,default payment next month,-0.055247,-0.057625,pay_amt6
548,pay_amt6,pay_amt4,0.134515,default payment next month,-0.055247,-0.058732,pay_amt6
549,pay_amt6,pay_amt5,0.149834,default payment next month,-0.055247,-0.051572,pay_amt5
550,pay_amt6,pay_amt6,1.000000,default payment next month,-0.055247,-0.055247,NaN
551,pay_amt6,default payment next month,-0.055247,default payment next month,-0.055247,1.000000,pay_amt6
552,default payment next month,limit_bal,-0.148079,default payment next month,1.000000,-0.148079,limit_bal
553,default payment next month,sex,-0.038250,default payment next month,1.000000,-0.038250,sex
554,default payment next month,education,0.030521,default payment next month,1.000000,0.030521,education
555,default payment next month,marriage,-0.028800,default payment next month,1.000000,-0.028800,marriage
556,default payment next month,age,0.009450,default payment next month,1.000000,0.009450,age
557,default payment next month,pay_0,0.324702,default payment next month,1.000000,0.324702,pay_0
558,default payment next month,pay_2,0.260688,default payment next month,1.000000,0.260688,pay_2
559,default payment next month,pay_3,0.233688,default payment next month,1.000000,0.233688,pay_3
560,default payment next month,pay_4,0.213800,default payment next month,1.000000,0.213800,pay_4
561,default payment next month,pay_5,0.207287,default payment next month,1.000000,0.207287,pay_5
562,default payment next month,pay_6,0.187033,default payment next month,1.000000,0.187033,pay_6
563,default payment next month,bill_amt1,-0.022562,default payment next month,1.000000,-0.022562,bill_amt1
564,default payment next month,bill_amt2,-0.016293,default payment next month,1.000000,-0.016293,bill_amt2
565,default payment next month,bill_amt3,-0.014983,default payment next month,1.000000,-0.014983,bill_amt3
566,default payment next month,bill_amt4,-0.009084,default payment next month,1.000000,-0.009084,bill_amt4
567,default payment next month,bill_amt5,-0.005547,default payment next month,1.000000,-0.005547,bill_amt5
568,default payment next month,bill_amt6,-0.004120,default payment next month,1.000000,-0.004120,bill_amt6
569,default payment next month,pay_amt1,-0.077830,default payment next month,1.000000,-0.077830,pay_amt1
570,default payment next month,pay_amt2,-0.060352,default payment next month,1.000000,-0.060352,pay_amt2
571,default payment next month,pay_amt3,-0.057625,default payment next month,1.000000,-0.057625,pay_amt3
572,default payment next month,pay_amt4,-0.058732,default payment next month,1.000000,-0.058732,pay_amt4
573,default payment next month,pay_amt5,-0.051572,default payment next month,1.000000,-0.051572,pay_amt5
574,default payment next month,pay_amt6,-0.055247,default payment next month,1.000000,-0.055247,pay_amt6
575,default payment next month,default payment next month,1.000000,default payment next month,1.000000,1.000000,NaN